*{
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

h1, h2, p{
    font-style: normal;
    font-family: Times, 'Times New Roman', serif;
    color: #585858;
}

h1{
    font-size: 70px;
    margin-bottom: 10px;
    color: #000000d9;
}

h2{
    margin: 0px auto auto 50px;
}

p{
    margin: 10px auto auto 490px;
}

#encriptar{
    margin: 6px 0px 10px 10px;
    border-radius: 0px 0px 0px 20px;
    border: solid mediumblue 1px;
    padding: 12px;
    background-color: mediumblue;
    font-size: medium;
    color: honeydew;
}

#desencriptar{
    margin: 6px 10px 10px 0px;
    border-radius: 0px 0px 20px 0px;
    border: solid rgb(0 0 189 / 90%) 1px;
    padding: 12px;
    background-color: rgb(0 0 189 / 90%);
    font-size: medium;
    color: honeydew;
}

#botonCopiar{
    margin: 30px;
    border-radius: 0px 0px 20px 20px;
    border: solid rgb(0 0 189 / 90%) 1px;
    padding: 12px 30px 12px 30px;
    background-color: rgb(0 0 189 / 90%);
    font-size: medium;
    color: honeydew;
}

#principal{
    position: relative;
    margin: 80px auto;
    width: 45%;
}

#ingresaTexto{
    position: relative;
    width: auto;
    float: left;
    text-align: center;
}

#textoIngresado{
    width: 255px;
    height: 110px;
    border: solid grey 2px;
    text-align: justify;
}

#textoMostrado{
    position:relative;
    width: auto;
    float: right;
    text-align: center;
}

#muestraTexto{
    width: 255px;
    height: 110px;
    margin: auto;
    border: solid grey 2px;
    text-align: justify;
}

label{
    color: grey;
}

#mensajeError{
    color: red;
}

#boxFooter{
    position: fixed;
    bottom: 0;
    width: 99%;
    height: 60px;
    background-color: rgb(0 0 189 / 90%);
    text-align: center;
}

footer{
    text-align: right;
    padding: 22px
}

a{
    color: honeydew;
}

img{
    margin-left: 20px;
    width: 20px;
    height: 20px;
}